{{!-- Main Content goes here --}}
<div class="row mt-5">
    <div class="col-md-12">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <form id="weatherForm" action="">
                        <div class="form-group row">
                            <div class="col-md-6">
                                <input id="input" type="text" class="form-control pull-right"
                                    placeholder="Enter zip code or city name">
                            </div>
                            <div class="col-md-6">
                                <button type="submit" class="btn btn-primary btn-block">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-left">
                    <p id="message-1"></p>
                    <p id="message-2"></p>
                </div>
            </div>

        </div>
    </div>
</div>